<div class="main-comentarios">
    <div class="fondo-login"> <!-- Contenedor del logo -->
    
        <img src="assets/images/LOGO.png" class="logo-login">
      
         
    </div> <!-- Fin contenedor del logo -->
    <div class="form-com">
       
        <div>
            <h1>Califica esta receta!!</h1>
        </div>
        <div class="ec-stars-wrapper">
            <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
            <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
            <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
            <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
            <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
        </div>
        <div>
            <input type="text" placeholder="Escribe un comentario">
        </div>
    </div>
</div>
<div class="form-b">
    <button >Publicar</button>
    <button class="button-1">Omitir</button>

</div>