
<div class="position-menu" *ngIf="isLogged">
    <div class="form-title">
        <a src="" routerLink="../home">
            <div class="frame">
                <img src="./assets/images/hom.png">
                <div class="texto-menu">Inicio</div>
            </div>
        </a>
        <a routerLink="../myprofile">
            <div class="frame">
                <img src="./assets/images/usu.png">
                <div class="texto-menu">Perfil</div>
            </div>
        </a>
        <a routerLink="../formulario">
            <div class="frame">
                <img src="./assets/images/edit.png">
                <div class="texto-menu">Publicar</div>
            </div>
        </a>
        <a href="" routerLink="../ver-favoritos">
            <div class="frame">
                <img src="./assets/images/fav.png">
                <div class="texto-menu">Fav</div>
            </div>
        </a>
    </div>
</div>