
<div class="form-title">
    <div class="frame">
        <a src="" routerLink="../login"><img src="/assets/images/hom.png">Inicio</a>
    </div>
        <div class="frame">
            <a routerLink="../Registro"><img src="/assets/images/usu.png">Perfil</a>
        </div>
        <div class="frame">
            <a routerLink="../formulario"><img src="/assets/images/edit.png">Publicar</a>
        </div>
        <div class="frame">
            <a href=""><img src="/assets/images/fav.png">Fav</a>
        </div>
    </div>
