<div class="main-ver">
    <div class="imagen-ver">
        <img src="/assets/images/ver-recetas/comida.jpg" alt="">
    </div>
    <div class="contenido-ver">
        <div class="iconos-ver">
            <div>
                <img src="/assets/images/ver-recetas/lugar.png" alt="" class="ico-ver">
                <p class="lugar-ver">{{Res.Lugar}}</p>
            </div>
            <div *ngIf="!isFav else elseBlock">
                <img src="/assets/images/ver-recetas/favorito.png" alt="" class="ico-ver">
                <p class="favorito-ver">Favorito</p>
            </div>
            <ng-template #elseBlock>
                <div>
                    <img src="/assets/images/ver-recetas/check.png" alt="" class="ico-ver">
                    <p class="lugar-ver">En favoritos</p>
                </div>
            </ng-template>
            <div>
                <p class="usuario-ver">{{Res.Usuario}}</p>
            </div>
        </div>
        <div class="titulo-ver">
            <h1>{{Res.Titulo}}</h1>
        </div>
        <div class="datos-ver">
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/precio.png" alt="" class="icop-ver">
                <p>${{Res.Costo}} MXN</p>
            </div>
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/like.png" alt="" class="icol-ver">
                <p>{{Res.Likes}}</p>
            </div>
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/fecha.png" alt="" class="icop-ver">
                <p>{{Res.Fecha | date:'shortDate'}}</p>
            </div>
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/cocina.png" alt="" class="icop-ver">
                <p>{{Res.Tipo_de_cocina}}</p>
            </div>
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/tiempo.png" alt="" class="icop-ver">
                <p>{{Res.Tiempo}}</p>
            </div>
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/dificultad.png" alt="" class="icop-ver">
                <p>{{Res.Dificultad}}</p>
            </div>
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/porciones.png" alt="" class="icop-ver">
                <p>{{Res.Porciones}}</p>
            </div>
        </div>
        <div class="texto-ver">
            {{Res.Texto}}
        </div>
    </div>
</div>