/*##################################### Imports #####################################*/
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

h1{
    font-family: 'Viga', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    line-height: 131.02%;
    text-align: center;
    margin-top: 2rem;
}

.main-ver{
    display: flex;
    flex-flow: column wrap;
}

.imagen-ver img{
    width: 100%;
    height: auto;
}

.contenido-ver{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    margin-top: 2rem;
}

.iconos-ver{
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: flex-end;
}

.usuario-ver{
    background-color: #e9f9f2;
    border-radius: 18.5px;
    padding: .5rem;
    text-align: center;
    font-family: 'Viga', sans-serif;
    color: #15BE77;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 131.02%;
    margin: 0 .25rem;
}

.lugar-ver{
    background-color: #e9f9f2;
    border-radius: 18.5px;
    padding: .5rem;
    text-align: center;
    font-family: 'Viga', sans-serif;
    color: #15BE77;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 131.02%;
    margin: auto .25rem;
}

.ico-ver{
    display: block;
    width: 17px;
    height: 20px;
    margin: .2rem auto;
}

.favorito-ver{
    background-color: #ffe8e8;
    border-radius: 18.5px;
    padding: .5rem;
    text-align: center;
    font-family: 'Viga', sans-serif;
    color: #ff1d1d;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 131.02%;
    margin: auto .25rem;
}

.datos-ver{
    display: flex;
    flex-flow: row wrap;

    margin-top: 2rem;
}

.icop-ver{
    display: block;
    width: 20px;
    height: 20px;
    margin: auto .5rem;
}

.precio-ver{
    display: flex;
    flex-flow: row wrap;

    font-family: 'Viga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #989393;
    margin-right: 1rem;
}

.icol-ver{
    display: block;
    width: 16px;
    height: 16px;
    margin: auto .5rem;

}

.like-ver{
    display: flex;
    flex-flow: row wrap;
    margin-left: 1rem;
    font-family: 'Viga', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.5px;
    color: #989393;
}

.texto-ver{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 180.52%;
    font-family: 'Viga', sans-serif;
    margin-top: 2rem;
}

@supports(object-fit: cover){
    .imagen-ver img{
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

/*
Tamaños a considerar para breakpoints
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV
*/

/*##################################### Breackpoints #####################################*/

@media screen and (min-width: 769px){
    .main-ver{
        max-width: 1000px;
        margin: 0 auto;
        box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
    }

    .titulo-ver{
        margin-top: 2rem;
    }

    .contenido-ver{
        
        padding: 1rem;
    }
}