<div class="main-ver">
    <div class="imagen-ver">
        <img src="/assets/images/ver-recetas/comida.jpg" alt="">
    </div>
    <div class="contenido-ver">
        <div class="iconos-ver">
            <div>
                <p class="usuario-ver">chrisramfon</p>
            </div>
            <div><!-- Div vació para agregar espacio en el grid -->

            </div>
            <div>
                <img src="/assets/images/ver-recetas/lugar.png" alt="" class="ico-ver">
                <p class="lugar-ver">Guadalajara</p>
            </div>
            <div>
                <img src="/assets/images/ver-recetas/favorito.png" alt="" class="ico-ver">
                <p class="favorito-ver">Favorito</p>
            </div>
        </div>
        <div class="titulo-ver">
            <h1>Titulo de la receta</h1>
        </div>
        <div class="datos-ver">
            <div class="precio-ver">
                <img src="/assets/images/ver-recetas/precio.png" alt="" class="icod-ver">
                <p>$500</p>
            </div>
            <div class="like-ver">
                <img src="/assets/images/ver-recetas/like.png" alt="" class="icol-ver">
                <p>100</p>
            </div>
        </div>
    </div>
</div>