
<div class="main-welcome"><!-- Contenedor principal -->
  <div class="fondo-welcome"> <!-- Contenedor del logo -->
    IMAGEN
  </div> <!-- Fin contenedor del logo -->
      <div class="formulario-welcome"> <!-- Contenedor del formulario -->
        <h1>Bienvenido</h1>

        <div class="input-welcome"> <!-- Contenedor de inputs -->

          <button  onclick="iniciar()">Iniciar Sesion</button>
          <button  onclick="registrar()"> Registrarse </button>

        </div> <!-- Fin contenedor de inputs -->
      </div> <!-- Fin contenedor del formulario -->
</div>

