<div class="main-login"><!-- Contenedor principal -->
  <div class="fondo-login"> <!-- Contenedor del logo -->
    <img src="./assets/images/LOGOTIP.png" class="logo-login">
  </div> <!-- Fin contenedor del logo -->
  
  <div class="formulario-login"> <!-- Contenedor del formulario -->  
    <div class="input-login"> <!-- Contenedor de inputs -->
      <button class="btn-verde" (click)="iniciar()">Iniciar Sesion</button> 
      <button class="btn-gris" (click)="registrar()"> Registrarse </button>
    </div> <!-- Fin contenedor de inputs -->
  </div> <!-- Fin contenedor del formulario -->
</div>
