<div class="main-followers">
    <div class="form-follower">
        <h1>Seguidores</h1>
        <div>
            <input type="text" name="" id="" placeholder="¿Buscar Usuario?">
        </div>
        <div class="recetas-explore">
            <div class="box-foll"><!-- El ngfor va en este div -->
                <div>
                    <img src="/assets/images/usuario.png" alt="" class="fondo-foll">
                </div>
                <div> 
                    <h2>Rosario Martinez</h2>
                </div>
                    <button>Ver usuario</button>
            </div>
        </div>
    </div>
</div>
