

<div class="main-profile">
  <div><img src="/assets/images/profile/user1.jpeg" alt="" class="fondo-profile"></div>
  <div class="encabezado-profile">
    <h1>Jafet_ob</h1>
    <h3>barenca99jafet99@gmail.com</h3>
    <h2>Tus recetas</h2>

  </div> <!-- Fin contenedor del encabezado-->


  <br>

  <div class="recetas-explore">
    <div class="box-explore"><!-- El ngfor va en este div -->
        <div>
            <img src="/assets/images/profile/platillo1.jpeg" alt="" class="fondo-platillo">
        </div>
        <div>
            <h2>Tacos</h2>
            <h3>4 porciones </h3>
        </div>
            <button>Ver receta</button>
    </div>
</div>


<div class="recetas-explore">
  <div class="box-explore"><!-- El ngfor va en este div -->
      <div>
          <img src="/assets/images/profile/platillo1.jpeg" alt="" class="fondo-platillo">
      </div>
      <div>
        <h2>Pizza</h2>
        <h3>4 porciones </h3>
      </div>
          <button>Ver receta</button>
  </div>
</div>




<div class="recetas-explore">
  <div class="box-explore"><!-- El ngfor va en este div -->
      <div>
          <img src="/assets/images/profile/platillo1.jpeg" alt="" class="fondo-platillo">
      </div>
      <div>
        <h2>Pozole</h2>
        <h3>4 porciones </h3>
      </div>
          <button>Ver receta</button>
  </div>
</div>




<div class="recetas-explore">
  <div class="box-explore"><!-- El ngfor va en este div -->
      <div>
          <img src="/assets/images/profile/platillo1.jpeg" alt="" class="fondo-platillo">
      </div>
      <div>
        <h2>Pasta brasil</h2>
        <h3>4 porciones </h3>
      </div>
          <button>Ver receta</button>
  </div>
</div>




</div><!--termina profile-->

