/*##################################### Imports #####################################*/
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');

h1{
  text-align:left;
  font-family: 'Viga', sans-serif;
  font-size: 25px;
}



button{
/*----------- Rectangle -----------*/
  background: linear-gradient(98.81deg, #53E88B -0.82%, #15BE77 101.53%);
  border-radius: 17.5px;
  width: 79px;
  height: 29px;
  border: 0;

/*----------- Font -----------*/
  font-family: 'Viga', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.5px;
  color: #FFFFFF;

/*----------- Size -----------*/
  margin: auto 0;
}

.main-profile{
/*----------- Flexbox -----------*/
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

/*----------- Size -----------*/
  margin: 0 auto;
  margin-bottom: 5rem;
}


.encabezado-profile{
  width: 90%;
  margin: 0 auto;

}

.input-register{
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
}




h2{
/*----------- Font -----------*/
  font-family: 'Viga', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 131.02%;
  color: #09051C;

/*----------- Size -----------*/
  width: 10rem;
}

h3{
/*----------- Font -----------*/
  font-family: 'Viga', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 9px;
  letter-spacing: 0.5px;
  color: #A69B9B;

/*----------- Size -----------*/
  width: 10rem;
}


.fondo-platillo{
  width: 62px;
  height: 62px;
  mix-blend-mode: normal;
  border-radius: 16px;

}


.fondo-profile{
display: flex;
align-items: center;
  width: 380px;
  height: 300px;
  mix-blend-mode:normal;
  border-radius: 18px;
}




::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  /*----------- Font -----------*/
      text-align: center;
      color: #DA6317;
      font-family: 'Viga', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      letter-spacing: 0.5px;

  /*----------- Color -----------*/
      opacity: 1;
      opacity: 0.4;

  }

  .main-explore{
  /*----------- Flexbox -----------*/
      display: flex;
      flex-flow: column wrap;
      justify-content: center;

  /*----------- Size -----------*/
      width: 93%;
      margin: 0 auto;

  }

  .title-explore{
  /*----------- Background -----------*/
      background-image: url("../login/img/fondo-login.png");

  /*----------- Flexbox -----------*/
      display: flex;
      flex-flow: row wrap;
      align-items: flex-end;

  /*----------- Size -----------*/
      margin-bottom: 2.3rem;
      height: 11rem;
  }

  .recetas-explore{
/*----------- Flexbox -----------*/
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;

/*----------- Size -----------*/
  margin-top: 2.3rem;
  }

.box-explore{
/*----------- Flexbox -----------*/
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;

/*----------- Border -----------*/
  box-shadow: 12px 26px 50px rgba(90, 108, 234, 0.07);
  border-radius: 22px;

/*----------- Size -----------*/
  margin-bottom: 1rem;
}

/*##################################### Imagen de perfil #####################################*/

.imagen-profile img{
  width: 100%;
  height: auto;
}

/*##################################### Bio #####################################*/

.bio-profile{
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 180.52%;
  font-family: 'Viga', sans-serif;
  color: black;

}

/*##################################### Seguidores #####################################*/

.seguidores-profile{
  display: flex;
  flex-flow: row wrap;
}

.contseg-profile{
  margin-right: 1rem;
}

/*##################################### Receta #####################################*/

.recimg{
  width: 62px;
  height: 62px;
  mix-blend-mode: normal;
  border-radius: 16px;
}

/*##################################### Ajuste de la imagen de perfil #####################################*/
@supports(object-fit: cover){
  .imagen-profile img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
  }
}

