

<div class="main-profile">
  <div class="fondo-usuario"> </div>
  <div class="encabezado-profile">
    <h1>Jafet_ob</h1>
    <h3>barenca99jafet99@gmail.com</h3>
    <h2>Tus recetas</h2>

  </div> <!-- Fin contenedor del encabezado-->

    <div class="tar-receta">
      <h4>Pizza italiana</h4>
      <h5>4 porciones</h5>
    </div>

  <br>

    <div class="tar-receta">
      <h4>Pozole</h4>
      <h5>4 porciones</h5>
      </div>
  <br>

    <div class="tar-receta">
      <h4>Chiles en Nogada</h4>
      <h5>4 porciones</h5>
      </div>
  <br>

    <div class="tar-receta">
      <h4>Barbacoa</h4>
      <h5>4 porciones</h5>
        </div>




</div><!--termina profile-->

