<div class="main-home">
    <div class="title-home">
        <h1>Cocina tu <br>comida favorita</h1>
    </div>
    <div>
        <input type="text" name="" id="" placeholder="¿Qué receta buscas?">
    </div>
    <div class="sections-home">
        <h2>Comida popular</h2>
        <div class="content-home">
            <div class="contenedor-home">
                <img src="/assets/images/vegana.png" alt="">
                <h3>Comida vegana</h3>
            </div>
            <div class="contenedor-home">
                <img src="/assets/images/healthy.png" alt="">
                <h3>Comida saludable</h3>
            </div>
            <div class="contenedor-home">
                <img src="/assets/images/buena.png" alt="">
                <h3>Buena comida</h3>
            </div>
            <div class="contenedor-home">
                <img src="/assets/images/variada.png" alt="">
                <h3>Comida variada</h3>
            </div>
            <div class="contenedor-home">
                <img src="/assets/images/resto.png" alt="">
                <h3>Vegan resto</h3>
            </div>
            <div class="contenedor-home">
                <img src="/assets/images/casera.png" alt="">
                <h3>Comida casera</h3>
            </div>
        </div>
    </div>
</div>