<div class="main-home"><!-- Contenedor principal -->
    <div class="title-home"><!-- Contenedor del titulo -->
        <h1>Cocina tu <br>comida favorita</h1>
    </div><!-- Fin del contenedor del titulo -->
    <div>
        <input type="text" name="" id="" placeholder="¿Qué receta buscas?">
    </div>
    <div class="sections-home"><!-- Contenedor de las opciones -->
        <h2>Comida popular</h2>
        <div class="content-home">
            <a href="">
                <div class="contenedor-home">
                    <img src="/assets/images/vegana.png" alt="">
                    <h3>Comida vegana</h3>
                </div>
            </a>
                <a href="">
                <div class="contenedor-home">
                    <img src="/assets/images/healthy.png" alt="">
                    <h3>Comida saludable</h3>
                </div>
            </a>
            <a href="" routerLink = "../ver-favoritos">
                <div class="contenedor-home">
                    <img src="/assets/images/buena.png" alt="">
                    <h3>Favoritos</h3>
                </div>
            </a>
            <a href="">
                <div class="contenedor-home">
                    <img src="/assets/images/variada.png" alt="">
                    <h3>Comida variada</h3>
                </div>
            </a>
            <a href="">
                <div class="contenedor-home">
                    <img src="/assets/images/resto.png" alt="">
                    <h3>Vegan resto</h3>
                </div>
            </a>
            <a href="">
                <div class="contenedor-home">
                    <img src="/assets/images/casera.png" alt="">
                    <h3>Comida casera</h3>
                </div>
            </a>
        </div>
    </div><!-- Fin del contenedor de las opciones -->
</div><!-- Fin contenedor principal -->