<div class="main-register"><!-- Contenedor principal -->
  <div class="fondo-register"> <!-- Contenedor del logo -->
    IMAGEN
  </div> <!-- Fin contenedor del logo -->
  <div class="formulario-register"> <!-- Contenedor del formulario -->
    <h1>Registrate</h1>
    <div class="input-register"> <!-- Contenedor de inputs -->
      <input type="text" placeholder="Ingresa Usuraio" >
      <input type="email" placeholder="Ingresa email" >
      <input type="password" placeholder="Contraseña" >
      <input type="password" placeholder="Repetir contraseña" >
      <button >Registrarse </button>
    </div> <!-- Fin contenedor de inputs -->
  </div> <!-- Fin contenedor del formulario -->
</div>
